In [1]:
import pandas as pd
import numpy as np

In [50]:
to_digits = 1

# SIMLA
## COCO

In [75]:
coco = [
    {'txt_r1': 76.1, 'txt_r5': 92.8, 'txt_r10': 96.2, 'txt_r_mean': 0, 'img_r1': 57.9, 'img_r5': 82.4, 'img_r10': 98.4, 'img_r_mean': 0, 'r_mean': 0},
    {'txt_r1': 75.56, 'txt_r5': 92.58, 'txt_r10': 96.12, 'txt_r_mean': 88.08666666666666, 'img_r1': 57.56776205325018, 'img_r5': 81.70224674182458, 'img_r10': 88.72231550331814, 'img_r_mean': 75.99744143279764, 'r_mean': 82.04205404973214},
    {'txt_r1': 75.64, 'txt_r5': 93.18, 'txt_r10': 96.32, 'txt_r_mean': 88.38, 'img_r1': 57.519788918205805, 'img_r5': 81.74222435436155, 'img_r10': 88.83825057967537, 'img_r_mean': 76.03342128408092, 'r_mean': 82.20671064204046}
]

In [76]:
pd.DataFrame(coco).mean(axis=0).to_frame().T.round(to_digits)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,75.8,92.9,96.2,58.8,57.7,81.9,92.0,50.7,54.7

In [77]:
pd.DataFrame(coco).std(axis=0).to_frame().T.round(2)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,0.29,0.3,0.1,50.94,0.21,0.39,5.55,43.89,47.41

# Flickr

In [72]:
flickr = [
    {'txt_r1': 94.8, 'txt_r5': 99.6, 'txt_r10': 99.7, 'txt_r_mean': 0, 'img_r1': 83.2, 'img_r5': 96.5, 'img_r10': 98.2, 'img_r_mean': 0, 'r_mean': 0},
    {'txt_r1': 94.7, 'txt_r5': 99.6, 'txt_r10': 99.8, 'txt_r_mean': 98.03333333333335, 'img_r1': 83.32, 'img_r5': 96.28, 'img_r10': 98.14, 'img_r_mean': 92.58, 'r_mean': 95.30666666666667},
    {'txt_r1': 94.5, 'txt_r5': 99.4, 'txt_r10': 99.7, 'txt_r_mean': 97.86666666666667, 'img_r1': 83.5, 'img_r5': 96.58, 'img_r10': 98.26, 'img_r_mean': 92.77999999999999, 'r_mean': 95.32333333333332}
]

In [73]:
pd.DataFrame(flickr).mean(axis=0).to_frame().T.round(to_digits)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,94.7,99.5,99.7,65.3,83.3,96.5,98.2,61.8,63.5

In [74]:
pd.DataFrame(flickr).std(axis=0).to_frame().T.round(2)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,0.15,0.12,0.06,56.55,0.15,0.16,0.06,53.51,55.03

## Flickr 0-shot

In [78]:
flickr_zshot = [
    {'txt_r1': 91.7, 'txt_r5': 98.8, 'txt_r10': 99.0, 'txt_r_mean': 0, 'img_r1': 78.5, 'img_r5': 94.2, 'img_r10': 96.8, 'img_r_mean': 0, 'r_mean': 0},
    {'txt_r1': 91.7, 'txt_r5': 98.3, 'txt_r10': 99.0, 'txt_r_mean': 96.33333333333333, 'img_r1': 77.88, 'img_r5': 93.84, 'img_r10': 96.68, 'img_r_mean': 89.46666666666665, 'r_mean': 92.89999999999999},
    {'txt_r1': 92.4, 'txt_r5': 98.7, 'txt_r10': 99.3, 'txt_r_mean': 96.80000000000001, 'img_r1': 77.84, 'img_r5': 93.66, 'img_r10': 96.36, 'img_r_mean': 89.28666666666668, 'r_mean': 93.04333333333335}
]

In [79]:
pd.DataFrame(flickr_zshot).mean(axis=0).to_frame().T.round(to_digits)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,91.9,98.6,99.1,64.4,78.1,93.9,96.6,59.6,62.0

In [80]:
pd.DataFrame(flickr_zshot).std(axis=0).to_frame().T.round(2)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,0.4,0.26,0.17,55.75,0.37,0.27,0.23,51.6,53.68

# SIMLA-12

## COCO

In [61]:
coco = [
    {'txt_r1': 74.08, 'txt_r5': 92.14, 'txt_r10': 96.02, 'txt_r_mean': 87.41333333333334, 'img_r1': 56.440393379707366, 'img_r5': 81.0626049412329, 'img_r10': 88.33453266170945, 'img_r_mean': 75.27917699421657, 'r_mean': 81.34625516377496},
    {'txt_r1': 74.12, 'txt_r5': 92.1, 'txt_r10': 96.08, 'txt_r_mean': 87.43333333333334, 'img_r1': 56.42440233469257, 'img_r5': 80.92668105860719, 'img_r10': 88.34652594547053, 'img_r_mean': 75.23253644625676, 'r_mean': 81.33293488979504},
    {'txt_r1': 74.1, 'txt_r5': 92.36, 'txt_r10': 96.0, 'txt_r_mean': 87.48666666666666, 'img_r1': 56.3724314383945, 'img_r5': 80.93467658111457, 'img_r10': 88.33053490045575, 'img_r_mean': 75.21254763998827, 'r_mean': 81.34960715332747}
]

In [62]:
pd.DataFrame(coco).mean(axis=0).to_frame().T.round(to_digits)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,74.1,92.2,96.0,87.4,56.4,81.0,88.3,75.2,81.3

In [69]:
pd.DataFrame(coco).std(axis=0).to_frame().T.round(2)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,0.02,0.14,0.04,0.04,0.04,0.08,0.01,0.03,0.01

## Flickr

In [64]:
flickr = [
    {'txt_r1': 92.0, 'txt_r5': 98.6, 'txt_r10': 99.4, 'txt_r_mean': 96.66666666666667, 'img_r1': 79.9, 'img_r5': 95.26, 'img_r10': 97.32, 'img_r_mean': 90.82666666666667, 'r_mean': 93.74666666666667},
    {'txt_r1': 92.0, 'txt_r5': 98.9, 'txt_r10': 99.5, 'txt_r_mean': 96.8, 'img_r1': 79.84, 'img_r5': 95.24, 'img_r10': 97.58, 'img_r_mean': 90.88666666666666, 'r_mean': 93.84333333333333},
    {'txt_r1': 92.0, 'txt_r5': 98.5, 'txt_r10': 99.4, 'txt_r_mean': 96.63333333333333, 'img_r1': 79.68, 'img_r5': 95.06, 'img_r10': 97.56, 'img_r_mean': 90.76666666666667, 'r_mean': 93.69999999999999}
]

In [65]:
pd.DataFrame(flickr).mean(axis=0).to_frame().T.round(to_digits)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,92.0,98.7,99.4,96.7,79.8,95.2,97.5,90.8,93.8

In [70]:
pd.DataFrame(flickr).std(axis=0).to_frame().T.round(2)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,0.0,0.21,0.06,0.09,0.11,0.11,0.14,0.06,0.07

## Flickr 0-shot

In [67]:
flickr_zshot = [
    {'txt_r1': 88.9, 'txt_r5': 98.1, 'txt_r10': 99.0, 'txt_r_mean': 95.33333333333333, 'img_r1': 75.34, 'img_r5': 93.08, 'img_r10': 96.12, 'img_r_mean': 88.18, 'r_mean': 91.75666666666666},
    {'txt_r1': 89.6, 'txt_r5': 98.2, 'txt_r10': 98.9, 'txt_r_mean': 95.56666666666668, 'img_r1': 75.42, 'img_r5': 92.92, 'img_r10': 96.06, 'img_r_mean': 88.13333333333333, 'r_mean': 91.85},
    {'txt_r1': 89.4, 'txt_r5': 97.8, 'txt_r10': 99.0, 'txt_r_mean': 95.39999999999999, 'img_r1': 75.46, 'img_r5': 93.08, 'img_r10': 96.22, 'img_r_mean': 88.25333333333333, 'r_mean': 91.82666666666665}
]

In [68]:
pd.DataFrame(flickr_zshot).mean(axis=0).to_frame().T.round(to_digits)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,89.3,98.0,99.0,95.4,75.4,93.0,96.1,88.2,91.8

In [23]:
pd.DataFrame(flickr_zshot).std(axis=0).to_frame().T.round(to_digits)

,txt_r1,txt_r5,txt_r10,txt_r_mean,img_r1,img_r5,img_r10,img_r_mean,r_mean
0,0.36,0.21,0.06,0.12,0.06,0.09,0.08,0.06,0.05